[2016-08-15 13:10] MSch opened #2 "Mobile version design tweaks"
Found two issues with the mobile version

![img_0279](https://cloud.githubusercontent.com/assets/7475/17665296/5df65b56-62fa-11e6-9b4b-e282f773a672.png)

---

![img_0280](https://cloud.githubusercontent.com/assets/7475/17665301/634389c6-62fa-11e6-9dc4-31265298e5ce.png)

[2016-08-15 13:39] MSch commented on #2
Second issue (whitespace) is happening due to my ad blocker hiding webfonts. Don't think it's worth doing a workaround. First issue fixed in #4

[2016-08-15 13:42] MSch opened #5 "Rendering issues in IE 9-11"
I don't have an IE VM with me, so just testing with the MS online tool: https://developer.microsoft.com/en-us/microsoft-edge/tools/screenshots/?url=http%3A%2F%2Fweilsumwasgeht.at

![win10_ie_11 0-3](https://cloud.githubusercontent.com/assets/7475/17666101/e1e4db46-62fe-11e6-9251-51b7f7a3d3e3.png)

[2016-08-15 17:45] #2 closed, assigned to nobody

[2016-08-15 18:52] PeterTheOne opened #7 "add favicon"

[2016-08-15 19:04] PeterTheOne opened #8 "Don't use photowall images in fullsize"
they are too large

[2016-08-15 20:03] MSch opened #9 "Signing URL requests between bot and django"

[2016-08-15 20:44] tosh commented on #9
@MSch can we use this:

http://pythonhosted.org/itsdangerous/#json-web-signatures

?

[2016-08-15 20:51] tosh commented on #9
http://pythonhosted.org/itsdangerous/#itsdangerous.JSONWebSignatureSerializer

[2016-08-15 21:16] MSch commented on #9
Yes that works fine as well 👍

[2016-08-15 23:16] stefan2904 opened #13 "Sorting of Events: nicht-volle priorisieren"
Wenn man sich mit einer PLZ anmeldet,
zu der es mehrere offene Events gibt,
sollen diese so sortiert werden,
dass zeitlich nähere Events oben sind (aktueller Stand),
aber solche, die noch nicht "voll" sind, über jenen, die bereits "voll" sind.

Also zuerst sortieren nach "voll" und darin sortieren nach Datum.

[2016-08-16 00:50] PeterTheOne opened #14 "add local_settings to readme"

[2016-08-16 01:09] PeterTheOne opened #15 "cleanup all the api, bot and web endpoints, urls, views"

[2016-08-16 01:17] PeterTheOne opened #16 "prevent creation of activists where email already exists"
but don't set email to unique in the model, this won't work because it should be able to be empty for many activists

[2016-08-16 03:20] c3o opened #17 "Improve meetup listing API"
/api/meetupsnearactivist/:
- Enforce same limits as in the staticviews: Max x events, max y km away, sorted by date & must be in the future (pls make x & y centrally configurable)
- Add generated event proposals (Tosh wants the 3 times as 3 separate events)

[2016-08-16 03:24] PeterTheOne commented on #17
1. Done in https://github.com/hack4vdb/anthill-backend/commit/96ee0b2fcb9cd7745de7f77942cbb22d012b6d76

[2016-08-16 03:26] PeterTheOne commented on #17
2: some version of this is located here `api/interestingplaces/<user_uuid>`. I will fix this.

[2016-08-16 03:31] c3o opened #18 "On-Demand Mailing"
Implement sending the following messages (See https://hack4vdb.piratenpad.de/emails, some may already exist as templates):

Prio 1:
- [x] Magic link login `(/login/<uuid>)` when someone "signs up" with known email address (see todo in staticviews.py#home)
- [x] After meetup creation / to all nearby who haven't joined: Event has been created but not enough yet pls come
- [ ] After meetup was made v

[2016-08-16 03:35] c3o opened #19 "Invite logic"
Minimum, we need a link to share event X from user Y
- Output that link in the invite template
- Link goes to front page but triggers a short extra "You've been invited" text there
- After signup, make sure the event you've been invited to is displayed first even if it shouldn't be there by distance/etc. (unless it's passed, in which case proceed as normal, maybe show a notice if it's easy to do.)

[2016-08-16 03:37] c3o opened #20 "User Import"
- Wir haben eine IMAP Mailbox, Zugangsdaten bei c3o
- Periodisch checken, neue E-Mails darin parsen (Format bei c3o) / evtl working Code+Vagrant von @hex2a vorhanden
- In unsere Datenbank werfen (pro record ein modell instanzieren und save)

TODO HOW TO DEAL WITH THE FACT THAT THESE HAVEN'T BEEN OPTED IN
- Option 1: Ignore, start sending anyway
- Option 2: Scrap all this and create a Django endpoi

[2016-08-16 03:42] c3o opened #21 "Cron Mailing"
TO SPEC – how often etc

These two are musts:
- [ ] Sorry mail if event cannot become viable in due time
- [ ] Reminder mail before a viable event (maybe include owner phone # & howto doc again)

Other ideas:
- [ ] 24 hours after signup if you haven't joined anything: Join one of these meetups
- [ ] Every 7 days: Join one of these meetups
  ...

[2016-08-16 03:43] c3o commented on #17
Note: Once this is done, "join_meetup_bot" (misnamed) will also need to be able to create events, not just users

[2016-08-16 03:44] c3o opened #22 "Login UI"
2 ways to discover login:
- [x] Detect if signup form email is already in DB
- [x] Add small login link to front page: "Bereits bei uns aktiv?" => changes the form to be an obvious email form for a returning user

Needs function that generates login email, displays "pls check your email" message and then quits

[2016-08-16 03:45] c3o opened #23 "Invite UI"
Minimum:
- [x] Link to share

Better:
- [x] Good opengraph info
- [x] Share via FB
- [x] Share via Twitter
- [x] Share via mailto link
- [x] Share via WhatsApp, Messenger, Telegram

Best:
- [ ] Brag publicly (not an invite to a specific event)
- [ ] Tag friends in shares

[2016-08-16 03:46] c3o opened #24 "Thank You Page"
After invite (or after skipping invite)

[2016-08-16 03:46] PeterTheOne commented on #17
2: is done in https://github.com/hack4vdb/anthill-backend/commit/bf4d582ecec554c1c0f79cb89b8e1a14501360da

[2016-08-16 03:47] c3o opened #25 "New Meetup form"
Form to create meetups, public but not linked to, for Armin to send to organisations like local Greens, etc.
- [ ] Geocode address...
- [ ] Mark as pre-viable & mark as no-package-needed
- [ ] Implement those fields into the event finalizer

[2016-08-16 03:48] PeterTheOne commented on #17
@c3o open separate issue for join_meetup_bot, if you haven't already

[2016-08-16 03:48] #17 closed, assigned to nobody

[2016-08-16 03:50] c3o opened #26 "Static Page: How to flyer"

[2016-08-16 03:51] c3o opened #27 "Static Page: Impressum & Datenschutz"

[2016-08-16 04:57] c3o opened #28 "Allow chatbot users to create events"
Since #17 chatbot users can now also "join" suggested (fake) events.

As a result, "join_meetup_bot" (now misnamed) will also need to be able to create address forms for creating these new events. See comment below for how to.

[2016-08-16 05:08] hex2a commented on #20
IMAP import liegt in "anthill/management/commands/imapimport.py", kann mit "python manage.py importimap" aufgerufen werden, ist aber noch nicht fertig

TODO:
- mail felder ->  model/API (vorname -> first_name)
- Anbindung an die API/model? (validiert die API zusätzlich PLZ,oÄ? wenn nein -> model, wenn ja -> API)
- verschieben von mails in andere IMAP inbox wenn erledigt.

[2016-08-16 05:12] c3o opened #29 "Feature: Meetup aftercare"
Add a positive feedback cycle to the app:
- 20 mins after an event started: Prompt owner to send a photo (TO SPEC how?)
- Send photo to people nearby, "do this too!"
- Display on website in Instagram-like view in a 2nd tab on meetups page for inspiration
- Let users schulterklopfen each other (TO SPEC how)

[2016-08-16 05:16] c3o opened #30 "Static content: Add donation call to action"
At end of meetup page

[2016-08-16 05:23] c3o commented on #9
Done by 3239fdfd64c2ea8765403ff39f27e2983c4df970

[2016-08-16 05:23] #9 closed, assigned to nobody

[2016-08-16 08:10] c3o opened #31 "Show list of user's signed up events"
List them above the new ones on /meetups

TO SPEC shall we allow cancellation? But then what if you make events unviable by canceling... But otherwise people will just not show up.

[2016-08-16 08:34] benfreu commented on #31
Maybe cancel by emailing the campaign?

[2016-08-16 08:38] benfreu commented on #28
That page should only create user and log them in. Then forward them to join-meetup page with location-id and time-id.

This page should NOT create meet ups so we don't have owner-less fake meet ups in the DB

[2016-08-16 08:41] benfreu commented on #19
Could we maybe link directly to a meet up detail page?

[2016-08-16 08:48] c3o commented on #28
ah right, I learned since typing that that the meetups are only actually created once an address is supplied. should be same here.

[2016-08-16 09:06] c3o commented on #19
And then capture user email later? Trickier to build.
Invites should always already include all the basic meetup data (it's not much!), so looking at these again in another layout is unlikely to convince you more effecively to follow through than the call to emotion of the front page with a "join your friend here" message would, right?

[2016-08-16 12:14] PeterTheOne commented on #28
`join_meetup_bot` should already correctly forward to `join_meetup`, see: https://github.com/hack4vdb/anthill-backend/commit/ff5e5472ea92c7cee7541427eeaa1f999ea01167 . Please verify by testing this.

[2016-08-16 17:02] benfreu commented on #19
Nono, it would be guarded by login_required and prompt for user's email and PLZ as part of our special login/signup process

[2016-08-16 17:03] benfreu commented on #19
So, basically exactly what you wrote :)

[2016-08-16 17:09] c3o commented on #19
Ah you're just talking about the URL or route then? :) for that I'd love to have a short url to hide the 2 Params (fromUserId, toEventId)

[2016-08-16 17:10] c3o commented on #19
(Eventually)

[2016-08-16 18:22] tosh commented on #28
is the current design decision that the anthill backend will provide the fake events in the API endpoint for the bot (https://weilsumwasgeht.at/api/meetupsbylatlng/47.072331331,15.439072712/)?

this way I don't have to implement the fake event algorithm (meaning it is easy to change in anthill at any time without the bot having to change)?

as far as I understand this would mean that the endpoint

[2016-08-16 19:03] PeterTheOne commented on #23
#16 is related

[2016-08-16 19:04] PeterTheOne commented on #22
#16 is related

[2016-08-16 19:38] PeterTheOne commented on #16
done https://github.com/hack4vdb/anthill-backend/commit/97fe942b362db3f1d5af114931b589ddc95abd8d

[2016-08-16 19:38] #16 closed, assigned to nobody

[2016-08-16 19:40] PeterTheOne commented on #22
#16 is done, there is now a `register_failed.html`.

[2016-08-16 19:59] PeterTheOne commented on #18
I will look into this..

[2016-08-16 20:14] PeterTheOne commented on #18
django-mailviews may be incompatible with django 1.10, see: https://github.com/disqus/django-mailviews/pull/25

[2016-08-16 20:35] PeterTheOne commented on #18
I tried to use previews as described in https://github.com/disqus/django-mailviews#using-the-preview-site but I only get errors.

[2016-08-16 20:42] PeterTheOne commented on #18
Not sure how to test this. :P

[2016-08-16 20:59] PeterTheOne commented on #18
Have a look at this https://github.com/Forum-Informationsfreiheit/OffenesParlament/blob/master/offenesparlament/offenesparlament/constants.py for inspiration.

[2016-08-16 21:17] tosh opened #32 "Close WebView in Bot after user is done at 'weilsumwasgeht.at'"
FB Messenger closes the WebView if the user is redirected to the following URL:

`https://www.messenger.com/closeWindow/?image_url=IMAGE_URL&display_text=DISPLAY_TEXT`

According to the FB Messenger documentation `IMAGE_URL` and `DISPLAY_TEXT` will get displayed briefly until the window closes:

https://developers.facebook.com/docs/messenger-platform/send-api-reference/button-template#close_window

[2016-08-16 21:20] tosh commented on #32
@benfreu

[2016-08-16 21:44] benfreu commented on #24
it now exists and users get forwarded after skipping invite. but no styles yet, which is @c3o territory :)

[2016-08-16 21:55] c3o commented on #28
@tosh As far as I understand but did not verify this was done in #17 as you describe?

[2016-08-16 21:57] c3o commented on #28
FYI for the website I made the design decision in b8671431e192ad711445332801ccfa62a0200712 to never show fake events if we have real ones – gotta fill these first and also don't want to provide too much choice. It shouldn't be an endless list but something that suggests you chose A or B or C.

[2016-08-16 22:01] c3o commented on #31
@benfreu Cancel by calling Armin, who will end up upselling you five other meetups.

[2016-08-17 01:42] PeterTheOne commented on #19
This is done, I think.

[2016-08-17 01:42] PeterTheOne commented on #18
@stefan2904 has send the first mail! :)

[2016-08-17 01:43] stefan2904 commented on #18
@PeterTheOne ja, ist scheinbar inkompatibel, aber nur der preview teil.

mail backend ist jetzt scharf, via smtp von postmark.
es werden jetzt also echt mails verschickt! ;)

TODO: im backend die mailviews callen, siehe text der issue.

[2016-08-17 01:48] PeterTheOne commented on #21
When should the event be canceled?
When should the reminder be send?

[2016-08-17 08:12] benfreu opened #33 "Potential meetup date times too early"
The weekday suggested by the method is too early.

E.g. 17 Aug gives Monday 22 Aug
Should be at least 7 days away from today.

[2016-08-17 08:18] benfreu commented on #19
IMO for the release we should not just fwd the user to the homepage but add a text that they've been invited to meetup X or add another form altogether that contains plz, email, name

[2016-08-17 11:23] c3o opened #34 "PLZ-to-coordinates broken?"
Hab mich mit PLZ 1060 registriert und bekam Rottenmann bei Liezen als Vorschlag. In der DB sind meine Koordinaten laut Django Admin in der Mitte Österreichs.

[2016-08-17 11:25] c3o commented on #31
Current solution of displaying "attending" message instead of join button seems good enough for now to me; closing.

[2016-08-17 11:25] #31 closed, assigned to nobody

[2016-08-17 11:27] c3o commented on #19
Invite link currently points at join_meetup ("please enter your name") contrary to the discussion in this issue/thread. Don't think that's optimal user experience.

[2016-08-17 11:30] PeterTheOne commented on #34
1060 gibts in https://github.com/hack4vdb/anthill-backend/blob/master/anthill/geo/data/plz_latlon.py nicht, Mitte von Österreich ist der Fallback.

[2016-08-17 11:32] PeterTheOne commented on #34
Soweit ich es sehe fehlen uns etwa 700 Postleitzahlen. ( https://www.post.at/geschaeftlich_werben_produkte_und_services_adressen_postlexikon.php )

[2016-08-17 11:37] lutoma commented on #27
The Datenschutz page should probably contain the iframe to opt-out from the Piwik tracking if that will actually get used, i.e.

[code]

[2016-08-17 11:39] PeterTheOne commented on #34
Ich probiere es mal mit http://www.findlatitudeandlongitude.com/batch-geocode/

[2016-08-17 12:18] anonjum opened #35 "MPAY24 Integration for Donation"
In order to process donations on our site we need to integrate the MPAY24 Api.

I have created a test account access. From what I understand as soon as we have a working integration we can change the merchant id and send money to the vdb-account.

In order to accept donations the campaign will need Full Name, Adresse, Amount and if donation was less then 3.500 Euros info if person wants to be name

[2016-08-17 12:43] lutoma commented on #18
@stefan2904 Werden die E-Mails tatsächlich über Postmark verschickt? Ich habe mich gerade testweise angemeldet und auch eine Testmail bekommen, aber über unseren Mailserver:

[code]

Was ja eh okay ist für mich, aber nur FYI

[2016-08-17 14:47] c3o opened #36 "Require only first name attendees"
Maybe first name is enough? Don't think we use the lastname of non-owners, do we?

[2016-08-17 15:54] raphaelniedy opened #37 "landing page: header image higher resolution"
current header image has a bad resolution for its use. waiting for a high-res picture from the VdB campaign.

[2016-08-17 16:08] c3o opened #38 "Replace photos of random people"
with ones we have express permission to use for this purpose

[2016-08-17 16:10] PeterTheOne commented on #34
I haz geodata: https://gist.github.com/PeterTheOne/7135a370b37406e6801d36827e0316cf !

[2016-08-17 16:22] PeterTheOne commented on #36
First name should be enough, we could even make that a nickname.

[2016-08-17 16:41] c3o commented on #30
Done in 8d5a15b13bb6719dad286dccb3a64d435316928e

[2016-08-17 16:41] #30 closed, assigned to c3o

[2016-08-17 16:52] benfreu opened #39 "emails aren't sent via postmark"
@burnoutberni @PeterTheOne @stefan2904

[2016-08-17 16:54] c3o commented on #26
Initial version done in ec790208e2418044d95f16abbcfb2a72a20e709d

[2016-08-17 16:54] #26 closed, assigned to c3o

[2016-08-17 16:55] c3o opened #40 "Add unsubscribe link to emails"

[2016-08-17 17:51] c3o commented on #36
Prefer first name, then we already have one piece of required data if someone who has attended an event hosts one later. Also I think most of our target market don't have nicknames.

[2016-08-17 21:29] PeterTheOne commented on #34
Done https://github.com/hack4vdb/anthill-backend/commit/7e8d7e4468d2d0ed8c5dff0dd8d1cc518c3a9b19

[2016-08-17 21:29] #34 closed, assigned to PeterTheOne

[2016-08-17 23:28] c3o opened #41 "Make returning login work even without postal code"
Postal code is a required field on the front page. For something that should double as a magic link login field, that's awkward.

In 0d0502fcc326433abd6a996b1d99de7f9799a7d4 I "fixed" the required-ness client-side, but the server still validates presence of a postal code.

Can we make this "required" only in cases where the email is not yet known?

[2016-08-17 23:32] c3o commented on #41
Ahhh forget it, I can just fill in a random value to bypass the validation! :)

[2016-08-17 23:32] #41 closed, assigned to nobody

[2016-08-18 00:33] #22 closed, assigned to c3o

[2016-08-18 00:35] c3o commented on #39
SMTP Server smtp.postmarkapp.com
Authenticate with your server API token as both the username and password
Get API token from c3o or MSch or Stefan (he has it in a Slack DM)

[2016-08-18 01:56] stefan2904 commented on #39
fixed in cbac62fca8f38a1b96df02cc841a813050cf0b6d, sorry for the mistake.

[2016-08-18 11:22] #39 closed, assigned to nobody

[2016-08-18 11:23] c3o commented on #36
@anonjum wants phone number too... I'm afraid it may be a big ask.

[2016-08-18 17:10] c3o opened #42 "Suggest fewer meetups in Yemen"
VdB-Fans abroad in allen Ehren, aber ich glaub das ist übertrieben.
https://i.imgur.com/e4QkDIv.png

[2016-08-18 17:11] c3o commented on #42
Immerhin gibt es dort an jeder Ecke eine gute Semmeljause...
https://i.imgur.com/H1THXIW.jpg

[2016-08-18 17:11] c3o commented on #42
Less snarky: Ich glaub, da werden irgendwo lat & long vertauscht.
(Aber nicht nur bei uns.)

[2016-08-18 19:43] anonjum opened #43 "create log-out function"

[2016-08-18 19:47] PeterTheOne commented on #43
There is an api endpoint for that https://github.com/hack4vdb/anthill-backend/blob/3239e2f0aaf3c4563c0a85608132c3056fdcf58d/anthill/staticviews.py#L56 :P

[2016-08-18 20:30] #42 closed, assigned to PeterTheOne

[2016-08-18 20:31] PeterTheOne commented on #42
Ich dachte Yemen ist sehr schön um diese Jahrezeit..

[2016-08-18 20:49] #37 closed, assigned to nobody

[2016-08-19 09:31] PeterTheOne opened #44 "Remove unused and unauthenticated api calls"

[2016-08-19 09:36] PeterTheOne commented on #44
@tosh Which api endpoints are you using?

[2016-08-19 09:37] tosh commented on #44
@PeterTheOne only this one

https://weilsumwasgeht.at/api/meetupsbylatlng/47.072331331,15.439072712/

[2016-08-19 09:45] PeterTheOne commented on #15
part of this is #15

[2016-08-19 09:46] PeterTheOne commented on #14
Done in https://github.com/hack4vdb/anthill-backend/commit/8a228e6234a03097f265bec0a1596f389a387063

[2016-08-19 09:46] #14 closed, assigned to nobody

[2016-08-19 09:59] anonjum opened #45 "Show my PLZ, allow to change my PLZ and event radius"
For usability and user interface clarity we need to show the PLZ im registered to, also allow me to change my plz and set radius to see events.

[2016-08-19 10:02] anonjum opened #46 "check for compliance with vdb datenschutz"
campaign can only take over the system if we comply 100% with this:
https://www.vanderbellen.at/datenschutz/

[2016-08-19 13:37] tosh commented on #46
(disclaimer: ianal)

Aus meiner Sicht complien wir mit allem bzw ist es recht einfach möglich das zu tun.

Bis auf "Cookies werden bei uns nicht mit persönlichen Daten in Verbindung gebracht".

=> hängt davon ab wie die sessions bei django implementiert sind bzw ob wir die verwenden. Ich nehm an dass man da sagen könnte die cookies werden mit persönlichen daten in verbindung gebracht (aber vmtl au

[2016-08-19 13:38] tosh commented on #46
Aja und wird forcen atm nicht SSL/TLS auf weilsumwasgeht.at das sollten wir aber & notwendig wenn die obigen sachen auch für weilsumwasgeht.at gelten sollen.

[2016-08-19 13:50] PeterTheOne commented on #46
Wenn wir den gleichen Zweck erfüllen wie das mitmachen Formular, die Daten in der EU (oder Drittstaat mit gleichem Niveau) bleiben und wir ein Dienstleister für die Kampagne sind sehe ich kein Problem. Opt-In und Datenschutzerklärung wären auch noch wichtig.

[2016-08-19 15:05] c3o commented on #36
Done in 1254aa6793c072ee257be2a0f6e7fcfddeb64c68 but without phone for now

[2016-08-19 15:05] #36 closed, assigned to benfreu

[2016-08-19 15:49] anonjum commented on #29
- message to random other user after completion of task: Tell Lisa, that her work is valuable! She participated in seven events? Maybe you can move her to show up for three more? This is your chance:

MY TEXT

Lisa, Tom just sent you a message: Wow, Lisa, the work we are doing, its so important! Thank you for being part of this. Together we can rock this thing. Take action tonight and sign up for

[2016-08-19 17:29] c3o commented on #19
Implemented now as I described in 0f3e62f6a645cf604c425923a561fda200ae0702
Feel free to refactor/change flow, but closing for now :P

[2016-08-19 17:29] #19 closed, assigned to nobody

[2016-08-19 17:34] c3o opened #47 "Magic link login: Add some security"
Using just the UUID won't work anymore because I'm now exposing the UUID of an inviter in the invite link. Hash it with a secret salt or something?

Then again that invite link is super-unwieldy now so if someone wants to hide it there by creating an Invitations model that maps a short URL to user & meetup IDs and thus hides the UUID again, you could leave the login as is – this may be preferable.

[2016-08-20 01:06] anonjum opened #48 "Honest Shake Down"

[2016-08-20 11:18] c3o commented on #21
Post.at says:

Assume shipping time of 48 Werktag hours + 24 hours fulfillment time on the campaign end. => If event is not viable 72 **Werktag** hours ahead of scheduled date, cancel it.

e.g. For a Friday evening or Monday morning event, cancel on Tuesday evening.

Reminder should be fine at the same time? Or just 24 hours ahead?

[2016-08-20 19:42] #48 closed, assigned to nobody

[2016-08-20 19:50] c3o opened #49 "[Maybe] CSS to match vdb.at/mitmachen"

[2016-08-20 19:51] c3o commented on #47
I thin @benfreu fixed this in 8b2b17d9124fc8cb3c3b2e242678b797291a399d

[2016-08-20 19:51] #47 closed, assigned to nobody

[2016-08-20 20:23] c3o opened #50 "Piwik event tracking"
To measure conversion, bounce rates, viral factor etc.

[2016-08-20 21:07] lutoma commented on #46
FWIW, die VM auf der sich das aktuell befindet ist in der EU (nämlich genau [hier](https://goo.gl/maps/3hL9vzPjfK52)). Falls es wichtig ist, dass sich der Server in Österreich befindet, kann ich das vermutlich auch einrichten.

[2016-08-20 22:01] c3o opened #51 "Login: Change Button Text"

[2016-08-20 22:02] c3o opened #52 "Invite: FB Dialog Doesn't work on mobile?"

[2016-08-20 22:03] c3o opened #53 "Meetups page doesn't list all events I've signed up for"
If I was invited to a meetup that usually wouldn't be shown to me and I sign up for it, it does not show up on my /meetups page

[2016-08-20 22:10] c3o opened #54 "Implement legal notification of viable meetups"
Müssen wir die Treffen nun als Versammlungen anmelden oder nicht??

[2016-08-20 23:32] c3o opened #55 "Invite: add share via Whatsapp Message"

[2016-08-21 10:40] anonjum opened #56 "Invite: Link only works when new user is created"
Cant join event from existing user, only works when new user is created.

[2016-08-21 10:46] anonjum opened #57 "Invite Email: Second link need different text in Header"
When I follow the second link in the E-Mail
eg http://weilsumwasgeht.at?invited_by=2c495c26-ca50-40c3-a1c5-551170b370ca

 the correct events are displayed but the text needs to adapt:

"YADs wird auch aktiv und lädt dich ein, gemeinsam bei dieser Straßenaktion für Alexander van der Bellen mitzumachen. Kommst du auch?"

Alternative: "YADs wir auch aktiv und hat Dich eingeladen auch etwas zu tun. Le

[2016-08-21 14:04] anonjum commented on #54
Ja!

Jeweils bei der zuständigen Landespolizeidirektion bis 72 Stunden vor der Veranstaltung. Wenn kein Widerspruch rein kommt gilt die Veranstaltung als genehmigt. Anbei eine Muster Nachricht. Die Anmeldung kann formlos via E-Mail erfolgen.

Es müsste hier ein Kundgebungsleiter genannt werden. Das muss die Person sein, die die Flyer erhält. Diese Information müssen wir der Person vermitteln und s

[2016-08-21 14:22] anonjum opened #58 "Mobile Frontend: Change meetup order"
When using the site mobile, that latest of the three events is shown first. Should be the other way around.

[2016-08-21 14:39] #52 closed, assigned to c3o

[2016-08-21 14:39] #55 closed, assigned to c3o

[2016-08-21 14:42] #33 closed, assigned to MSch

[2016-08-21 14:49] #57 closed, assigned to c3o

[2016-08-21 14:52] c3o commented on #54
Uff 😓

[2016-08-21 15:25] anonjum commented on #54
Ja, ist not so hot. Aber das sind die Gesetze und prinzipiell ist das ja auch sinnvoll. Ich finde es auch wieder gut, weil es dann echtes commitment von der Person ist. Und dann finden vll weniger veranstaltungen statt, aber die die stattfinden, da fühlt sich jemand verantwortlich.

Dementsprechend müssen wir, denke ich die automatisch generierten Events ausblenden oder zumindest ganz klar als Vor

[2016-08-21 15:26] anonjum commented on #54
Ich möchte die Bundespräsidentschafts-Kampagne von Alexander Van der Bellen unterstützen! Ich erkläre mich damit einverstanden, dass mich der Verein "Gemeinsam für Van der Bellen" diesbezüglich elektronisch und telefonisch kontaktiert, mir die bestellten Werbemittel zusendet, sowie mich über den weiteren Verlauf der Kampagne informiert.

[2016-08-21 16:39] anonjum opened #60 "Mobile Frontend: Add Text to Link in Telegram"
As of now only sending link, in Whatsapp there is a Text:

"Kommst Du am So 28. mit zu einer Aktion für Van der Bellen in Rottenmann? Weil's um was geht: LINK"

[2016-08-21 18:17] c3o commented on #60
Fixed in 6eda7ead1f7a01b020f031c4b047e6f1634b16b0

[2016-08-21 18:17] #60 closed, assigned to c3o

[2016-08-21 18:30] c3o commented on #23
v1 done

[2016-08-21 18:30] #23 closed, assigned to c3o

[2016-08-21 18:33] c3o opened #61 "Bragging"
In addition to direct invites, allow users to brag publicly (invite without a specific event) -> FB wall, Twitter

Maybe save this for when you've participated? -> App prompts you to brag afterwards?

[2016-08-21 18:34] anonjum opened #62 "four imho crutial functions"
- sign out must be possible (upper left corner, wherever)
- deregister from event must be possible somewhere (user feels trapped otherwise)
- set up my own event must be possible
- need to see more then three events if they exist -> implement interface with more then one row of events. (cant accept invite for event if i already attend four events)

[2016-08-21 18:37] c3o commented on #62
Please don't create duplicate issues or issues that cover multiple unrelated points

1 = #43
3 = #25

Create the other two as separate issues pls and then close this one

[2016-08-21 18:40] c3o commented on #28
Is this done @tosh?

[2016-08-21 18:45] anonjum opened #63 "User Interface: deregister from event"
deregister from event must be possible somewhere (user feels trapped otherwise)

[2016-08-21 18:46] anonjum opened #64 "User Interface: see more then three events"
need to see more then three events if they exist -> implement interface with more then one row of events. (cant accept invite for event if i already attend four events)

[2016-08-21 18:47] #62 closed, assigned to nobody

[2016-08-21 18:52] benfreu commented on #28
afak, we still don't send fake meetups via the API

[2016-08-21 18:53] c3o opened #65 "Collect every attendee's phone number"

[2016-08-21 19:05] tosh commented on #64
imho if there are more than 3 events those should be hidden in another page or behind a 'show more' or 'i need other dates where i have time' link

what's the reasoning behind the change?

[2016-08-21 19:27] benfreu commented on #63
this is harder than it looks. and i'd say not worth it.

the only possible option IMO is to only allow non-owners of yet unviable meetups to unregister and non-owners from viable meetups only when their withdrawal doesn't make the meetup unviable.

[2016-08-21 19:41] c3o opened #66 "Address form needs to include legal info"
Need to add checkbox "I can be responsible im Sinne des Versammlungsrechts und ihr dürft die Versammlung in meinem Namen anmelden und diese Daten an die Behörde weitergeben"

Which will make us lose all people here ;(

Alternatively, we could make this checkbox OPTIONAL – and then if answered negatively by the owner, ask it of all people who join later (= add it to the name_form, but then we need

[2016-08-21 20:05] c3o opened #67 "Max 5 participants for meetups"
No longer show to new users after 5 have been reached

[2016-08-21 20:50] anonjum commented on #65
Needs to have mandatory check box:

Die Kampagne (später ersetzen durch "der Verein Gemeinsam für Van der Bellen") darf mich im Zusammenhang mit der Bundespräsidentschafts-Kampagne von Alexander Van der Bellen telefonisch kontaktieren, sowie mich über den weiteren Verlauf der Kampagne informiert.

if user doesnt check this box he cannot participate in event.

[2016-08-21 20:51] c3o commented on #24
Not so happy with it right now but good enough for v1

[2016-08-21 20:51] #24 closed, assigned to c3o

[2016-08-21 20:55] anonjum opened #68 "Landing-Page: Add the kleingedruckte"
![bildschirmfoto 2016-08-21 um 22 50 51](https://cloud.githubusercontent.com/assets/21046499/17839737/cdb28798-67f1-11e6-995a-7d27e32eaf83.png)

Add another line:
### **Van der Bellen muss gewinnen.**

**Bei dieser Wahl kann ich nicht sitzen bleiben. Ich bin bereit, aktiv zu werden.**
Die Kampagne darf mich elektronisch kontaktieren.

(maybe in smaller font size?)
will put them at ease regarding l

[2016-08-21 20:57] anonjum opened #69 "Bug: Facebook Share doesnt work"
![bildschirmfoto 2016-08-21 um 22 56 50](https://cloud.githubusercontent.com/assets/21046499/17839768/a0619db4-67f2-11e6-8aef-c53690a592f8.png)

This urls: http://weilsumwasgeht.at/invite/4e3ad936-a0c6-460f-b733-92c19965407a
This fb link: https://www.facebook.com/login.php?api_key=1595950890699096&skip_api_login=1&display=popup&cancel_url=http%3A%2F%2Fweilsumwasgeht.at%2Fthankyou%2F4e3ad936-a0c6-4

[2016-08-21 21:02] anonjum opened #70 "Design: Set fixed width and height for event."
Events are weirdly resizing, breaking and they have different heights depending on state (exists, sugested, "im in"). I'd suggest setting width to 300px and height to 375 px. That way they always align.

![bildschirmfoto 2016-08-21 um 22 58 25](https://cloud.githubusercontent.com/assets/21046499/17839778/f22cfa58-67f2-11e6-96ad-f31c345cd4f1.png)
![bildschirmfoto 2016-08-21 um 22 58 42](https://clo

[2016-08-21 21:04] anonjum commented on #65
Future feature (possible) - second checkbox: I want you to send my number to Tom (organizer) so he can get in touch.

[2016-08-21 21:11] MSch commented on #70
This is (partly) an artifact since I'm not yet limiting the output to three events.

[2016-08-21 21:14] anonjum commented on #70
I dont Unterstand this. But magicians make good choices. Just wanted to bring it up as I noticed.

[2016-08-21 21:32] benfreu opened #71 "Setup static file caching properly"
Ad website not properly reloading cached assets automatically: Should probably throw something like this in the settings:
`STATICFILES_STORAGE = 'django.contrib.staticfiles.storage.CachedStaticFilesStorage'`
for all the automatic static file versioning goodness (assuming the staticfiles thing is used)

[2016-08-21 22:23] #70 closed, assigned to nobody

[2016-08-21 22:33] anonjum commented on #63
@benfreu that makes sense. but can make this 0.4 or 1.1 priority.

[2016-08-21 22:35] anonjum commented on #64
Need to add navigation between "my events" and "more events"

![bildschirmfoto 2016-08-22 um 00 35 51](https://cloud.githubusercontent.com/assets/21046499/17840227/6c087d5e-6800-11e6-9b75-f827b408ac16.png)
![bildschirmfoto 2016-08-22 um 00 35 58](https://cloud.githubusercontent.com/assets/21046499/17840228/6c0c28dc-6800-11e6-9bf4-efeb7603f2a3.png)

[2016-08-21 22:41] MSch commented on #71
I made sure that responses from the Django app don't get cached: https://github.com/hack4vdb/anthill-backend/commit/959a093ee8ce5726ea35abfaec0e2a3d33982553

Not sure about assets, but I hope that nginx is doing something okay. It'll be fine.

[2016-08-21 22:41] #71 closed, assigned to nobody

[2016-08-21 22:42] MSch commented on #64
Fixed to be according to @c3o's spec from the group call.

[2016-08-21 22:42] #64 closed, assigned to nobody

[2016-08-21 22:46] MSch commented on #5
We currently always stretch the "hero image" to full size, so this is intended. Closing

[2016-08-21 22:46] #5 closed, assigned to nobody

[2016-08-21 23:17] anonjum opened #72 "Improvement: Check for valid postal code"
If entered plz is not found in db return error and ask for correct plz

[2016-08-21 23:30] c3o commented on #69
Think I fixed it TBC

[2016-08-21 23:30] #69 closed, assigned to c3o

[2016-08-21 23:39] c3o commented on #68
v1 done in 69e8de09288e84118a7e211e0b755b7d8f477a73

[2016-08-21 23:39] #68 closed, assigned to c3o

[2016-08-22 00:02] c3o opened #73 "HTTPS"
It's in their data protection statement that they use HTTPS when transmitting personal data

[2016-08-22 00:32] c3o commented on #27
v1 done (no piwik)

[2016-08-22 00:32] #27 closed, assigned to c3o

[2016-08-22 00:51] MSch commented on #28
we now send real and potential meetups, and users can sign up to a potential meetup which creates it.

[2016-08-22 00:51] #28 closed, assigned to benfreu

[2016-08-22 00:53] lutoma opened #74 ""Thank you"-Seite von Facebook-Share-Dialog sollte Fenster schließen"
Wenn man auf den Facebook-Share-Link klickt, öffnet sich der Share-Dialog in einem neuen Fenster. Wenn man dann die Seite per Nachricht teilt, leitet Facebook in dem Fenster auf die normale "Thank you"-Seite weiter.

Als User würde ich davon ausgehen, dass sich das Fenster dann schließt, wenn ich den Button dann drücke. Stattdessen landet man auf der Startseite und hat die Seite doppelt offen.

[2016-08-22 00:58] MSch commented on #32
Done

[2016-08-22 00:58] #32 closed, assigned to benfreu

[2016-08-22 01:04] lutoma commented on #74
Weil im Slack verwirrung existierte, hier nochmal in Videoform: https://pub.lutoma.org/wuwg-fb.mp4

[2016-08-22 01:44] #43 closed, assigned to c3o

[2016-08-22 01:54] c3o commented on #49
Low hanging fruit done: All except front page

Need a browser (extension) that allows you to apply an alternate stylesheet
ie for Chrome https://chrome.google.com/webstore/detail/alt-css/deaodobjfcolfhkecnnghdclnlmfjdje

[2016-08-22 01:54] #49 closed, assigned to c3o

[2016-08-22 01:55] c3o opened #75 "Allow reusing login tokens?"
IMO it doesn't need such high security – tokens don't need to be invalidated. What do you think @benfreu

[2016-08-22 02:05] c3o commented on #20
We're likely going to go with Option 2

[2016-08-22 02:23] #66 closed, assigned to c3o

[2016-08-22 02:25] c3o opened #76 "Address form: Make responsiblily checkbox real"
It's a dummy so far.
- Implement as part of Django form
- Need to save in DB activist is responsible (can be different from owner or none)
- Event not viable if nobody responsible (leads to eventual cancelation)
- If owner disagreed, people joining later should be asked in name_form
- Maybe: Generate cron email to Armin about events nearing cancelation for this reason

[2016-08-22 07:15] anonjum opened #77 "Implement Unsuscribe Link Email"
Disclaimer: Das ist eine automatisch generierte Nachricht, die Du erhältst, weil Du Alexander Van der Bellen unterstützten möchtest und zu diesem Zwecke Deine Daten entweder auf vanderbellen.at oder auf weilsumwasgeht.at hinterlassen hast. Wenn Du keine weiteren Nachrichten mehr von weilsumwasgeht.at erhalten möchtest KLICKE AUF DIESEN LINK. Wenn Du keine Nachrichten mehr von vanderbellen.at mehr

[2016-08-22 10:45] c3o commented on #77
Duplicate of #40

[2016-08-22 10:45] #77 closed, assigned to nobody

[2016-08-22 11:56] c3o commented on #49
Front page done too now

[2016-08-22 12:00] PeterTheOne commented on #50
@lutoma Du meintest es gibt eine Piwik instance?

[2016-08-22 12:04] PeterTheOne commented on #46
Meldung der Datenverarbeitung bei der Datenschutzbehörde könnte man auch noch machen, ist Aufgabe vom Auftraggeber. Hier ist die aktuelle Meldung https://dvr.dsb.gv.at/at.gv.bka.dvr.public/DatenanwendungView.aspx?id=438559 , wäre anzupassen auf die Personenbezogenen Daten die wir zusätzlich noch verwenden neben Name, Geschlecht, Anschrift, E-Mail-Adresse und Telefonnummer.

[2016-08-22 12:13] PeterTheOne commented on #72
Correct PLZ or one close by.

[2016-08-22 12:15] PeterTheOne commented on #73
As far as I know @stefan2904 did the HTTPS setup for the old domain and disabled this because of development reasons.

[2016-08-22 12:15] stefan2904 commented on #73
We already support HTTPS.
If you want I can enforce it.

[2016-08-22 12:18] stefan2904 commented on #73
I added the new domain (tell me if there are multiple) to the cert last week.

The only thing I disabled is enforcing HTTPS, but I can reenable that. (Will break the Map rendering in the admin (fixed in the current, not yet released, Django Version), not sure if we need that.)

[2016-08-22 12:20] PeterTheOne commented on #76
Can someone not attending the event be the responsible person? _Looking for a hack_

[2016-08-22 12:20] #65 closed, assigned to nobody

[2016-08-22 12:22] c3o commented on #73
Yes forcing it seems necessary for the signup form to comply with VdB data protection statement.
Maybe not force it for Django admin? ;D

[2016-08-22 12:22] c3o commented on #76
I would assume not. Versammlungsleitung via Dronen-Videofeed?

[2016-08-22 17:11] c3o opened #78 "Design: Even more VdB"
- [x] Make the VdB CSS permanent
- [x] Add menu
- [ ] Make menu work on mobile
- [x] Add footer
- [ ] Make footer links clickable
- [ ] Add image bar
- [ ] Add tab bar
- [ ] Check everythin for wonkyness
- [ ] Change texts to reflect that "we" = the campaign
- [x] Add campaign favicon

[2016-08-22 17:15] c3o opened #79 "VdB email/optin system & domain integration"
**User DB integration**

Actions we will notify the CRM about:
- User has opted in to emails
- User has unsubscribed from emails

Endpoint documentation
https://hack4vdb.slack.com/files/officerm/F24R4KHE1/crm_dokumentation.pdf

We need from them:
- One time CSV import
- [ ] Write import script

[2016-08-22 17:15] c3o commented on #20
Obsoleted by #79

[2016-08-22 17:15] #20 closed, assigned to nobody

[2016-08-22 17:17] c3o commented on #38
May not be necessary if we = the campaign?

[2016-08-22 17:22] c3o opened #80 "Password-protect until launch"
Simple shared HTTP basic auth in front of the whole thing?

[2016-08-22 17:37] anonjum commented on #80
http://wanderlust.i-kiu.at/mitmachen/aktiv-werden/mitmachen/
same thing like here?

[2016-08-22 17:57] anonjum commented on #79
we want salutation!

and when they send us  user data they also have to send there hashed unsuscribe.

looks like this.

(pls dont click or N--- H--- wont receive any further emails from the campaign)

hXXp://www.vanderbellen.at/newsletter/?state=disabled&mode=unlist&contact_id=190954.contact&contact_pass=YjGl3uIWJg9R&action_id=191%2F770&disabled=1&todo=newsletter_disable

maybe we also want conta

[2016-08-22 18:19] anonjum opened #81 "Solve: Get new users into crm"
Is there a way to get new users into crm?

We need to have our own log-in screen for invited users.

Do we just not tell the campaign about it?

Otherwise we also need to send info to crm!
Need to check how to do that.

Please provide technical info here: https://titanpad.com/7dCea43Xb6

[2016-08-22 18:28] anonjum opened #82 "Implement Newsletter Style Sheet"
We should send all E-Mails in the style the user is used to.

![bildschirmfoto 2016-08-22 um 20 26 01](https://cloud.githubusercontent.com/assets/21046499/17866464/e7aa8f3c-68a6-11e6-9cc4-7117aa0ae8bd.png)
![bildschirmfoto 2016-08-22 um 20 26 08](https://cloud.githubusercontent.com/assets/21046499/17866465/e7ac68e8-68a6-11e6-98a0-23314815d746.png)

I tried to upload the hmtl sheet with an email. G

[2016-08-22 18:31] stefan2904 commented on #73
done,
- HSTS enabled für alle domains (d.h. sobald man mal per HTTPS drauf geht verwendet der Browser automatisch nur mehr HTTPS).
- automatisch Weiterleiten von HTTP auf HTTPS derweil nur für die Haupt-Domain

[2016-08-22 18:33] stefan2904 commented on #75
I agree, dann braucht man nicht jedes mal einen Login Link ...
Cookies sollten ja auch paar Wochen gelten, oder?

[2016-08-22 18:34] anonjum opened #83 "Display current PLZ and let me change it."
This drastically improves usability and user understanding.

Especially for those users entering the meetup page following a first email with info: Thomas is aktiv, join him. They have entered their plz up to 5 months ago and probably have no clue how we know where they are from.

[2016-08-22 18:38] anonjum opened #84 "Implement Double-Opt In for new users that didnt come via mitmach-form"
We need to implement double opt-in for the campaign. Nives is extremely sensitive about this issue. Irregardless of minimum legal standards.

[2016-08-22 18:43] c3o commented on #83
Duplicate of #45

[2016-08-22 18:43] #83 closed, assigned to nobody

[2016-08-22 18:45] anonjum commented on #45
Uh, sorry, ich hab nicht den besten überblick... 👎

[2016-08-22 19:08] lutoma commented on #50
@PeterTheOne  Ja, Logindaten hatte ich im Slack gepostet: https://hack4vdb.slack.com/archives/anthill/p1471281434000314 :100:

[2016-08-22 19:23] anonjum opened #85 "Feature Request: Create Fundraising Party"
Allow people to create fundraising event:

Only possible until deadline 28th of September
To finance the campaign we need 2 mio Euros (right now we have 1,76)
Create Event
(optional, needs programming: Set fundraising target)
Order fan package from fanderbellen.at (https://webshop.merchzilla.com/fanderbellen-iframe/product/?p=2&id=652# -> FAN DER BELLEN-PACKAGE „BUTTONS+STICKER“)
Download / genera

[2016-08-22 19:30] anonjum opened #86 "Add generic email trail after sign-up / kick-off"
Have signup / kick-off trigger trail of emails (I will provide text!) with generic tasks people can do.

Same day: Have you donated already?
Day 3: This is how you can support on Facebook
Day 5: ...
Day 15: ...

CRM can't do this (stupid system).
And it makes sense and adds value to the crm.

Function: Don't send generic emails from trail after 28th of september

[2016-08-22 20:26] MSch opened #87 "Secret to authenticate bot requests is in the source"
[anthill/views.py](https://github.com/hack4vdb/anthill-backend/blob/master/anthill/views.py#L267)

[code]

[2016-08-22 20:28] #73 closed, assigned to stefan2904

[2016-08-22 20:37] PeterTheOne commented on #85
Are these fundraising parties public or private (invite only)?

[2016-08-22 20:38] anonjum commented on #85
To be decided. I think private would be better. Then we can publish adress and contact info inside the event.

[2016-08-22 20:50] anonjum commented on #45
Related to this: When I return to page enter registered email adress and add new plz (first registered with 1180, now register with 8010) system recognizes that I have logged in before - but doesnt change plz. i think it should override old plz and display plz.

Feature request: Sign up for multiple plz

[2016-08-22 20:51] MSch commented on #79
Edit: Moved spec to https://gist.github.com/MSch/aafddb1292d87123732cefb005729fd7

[2016-08-22 20:55] anonjum commented on #79
If I understand this correctly, if I send this entire text to a somewhat capable programmer with access to the system he will know what to do?

Question: What if there is no success (probably a stupid question):

[2016-08-22 20:57] MSch commented on #79
Yes

It will error somehow. The programmer will figure it out.

Also this is just the spec, it's not built yet!

[2016-08-22 20:58] anonjum commented on #79
Ok, but I can talk to him tomorrow and ask him how long his side will take and how much it will be?

[2016-08-22 20:59] MSch commented on #79
Yes. And no ausreden, there is nothing hard about this.

[2016-08-22 21:01] anonjum commented on #79
So no question if this is possible? How much coding time should it take

I mean, not you. An average coder... (1h, 10h, 10min)

[2016-08-22 21:01] MSch commented on #79
@anonjum give them this link https://gist.github.com/MSch/aafddb1292d87123732cefb005729fd7

[2016-08-22 21:17] anonjum commented on #79
Do we have an instance checking if emailaddress already exists in our database? What if someone signs up on our page, then signs up through vdb.at/mitmachen? And what are the minimum infomation we require?

Firstname (if we dont have that we cannot send initial emails with firstname-- thomas ist dabei)
email address
plz

correct?

[2016-08-22 21:19] MSch commented on #79
Yes we will have to check that.

Then we will update their data

All, but if they don't have it it can be blank.

[2016-08-22 21:20] anonjum opened #88 "redesign: check your inbox message"
Make less aggressive. Use grey / transparent background overlay over old page maybe?

![bildschirmfoto 2016-08-22 um 23 18 28](https://cloud.githubusercontent.com/assets/21046499/17872113/daedc1a2-68be-11e6-84b7-97a4d2b112b0.png)

[2016-08-22 22:30] PeterTheOne commented on #50
added piwik tracking code in https://github.com/hack4vdb/anthill-backend/commit/88ddaee8b7c4cd5965d7111e6ca5e5d4a40761e4

We can also:
- [ ] Add opt-out, see: https://github.com/hack4vdb/anthill-backend/issues/27#issuecomment-240386543
- [x] Config goals?
- [ ] custom variables? etc. https://pythonhosted.org/django-analytical/services/piwik.html#user-variables
- [ ] Add email tracking with image?

[2016-08-22 22:37] PeterTheOne commented on #79
Between 1h and 10h, leaning to 1h. Also he could give us access and we could do it.. :P

[2016-08-22 22:46] lutoma commented on #50
I guess we should also make sure the piwik tracking only gets included if not in debug mode. Already seeing some tracked visits where the host is "localhost:8000".

[2016-08-22 23:03] PeterTheOne commented on #50
I guess https://pythonhosted.org/django-analytical/services/piwik.html would be a better choice for piwiki integration, it also supports not tracking internal IPs.

[2016-08-22 23:25] PeterTheOne commented on #50
ok, not tracking localhost anymore. Too bad ANALYTICAL_AUTO_IDENTIFY didn't work.

[2016-08-22 23:55] anonjum opened #89 "feature request: seperate landing page to create an existing event for organisation"
Create Event page for organistions (greens, spö, ...) who can put their events on mitmachen.vdb.at
-> helps massively: supports existing local initiatives, gives greens and other organisation a place in the tool, reduces amount of events that will be canceled due to not enough participants, allows us to focus on rural areas (due to reduced amount of mitmach-events with need of material in urban ar

[2016-08-23 07:10] benfreu commented on #75
OK, agree

[2016-08-23 07:16] benfreu commented on #79
In our email templates we only send "Hello, first_name" sentences when we have a first_name. So no problem for us if its blank.

[2016-08-23 08:50] PeterTheOne commented on #50
Ich hab ein Spenden und ein Join Meetup Goal angelegt.

[2016-08-23 09:51] #56 closed, assigned to benfreu

[2016-08-23 12:13] anonjum commented on #78
Es wäre wichtig, wenn das für morgen, für die Entscheidung so angepasst ist, dass es aussieht als wäre es schon in die Webseite integriert und auch die Links auf spenden usw verweisen.

Bitte dringend auch oben unter der Navitagtion ein Foto rein hauen (das niedrigste ist 285 px hoch). @c3o

[2016-08-23 12:45] anonjum commented on #78
- width of page needs to be max 1200 px (div, rest white backround, check vdb.at)
- hight of logo change to 70 px
- add menue (and links)
- adapt font size in system
- login page: add Aktiv werden. (like in vdb.at/mm)
- add fb and twitter icon in menue
- footer würde ich als iframe rein hauen, dann geht auch die newsletteranmeldung ohne probleme.

[2016-08-23 14:57] c3o commented on #78
Technisch nicht möglich. In iframes zeigt man ganze Seiten an, nicht Teile davon.

[2016-08-23 15:38] c3o commented on #78
This all doesn't make a lot of sense to me.
- Das Layout mit den Fotos ist auf textlastige Infoseiten ausgelegt. Unsere Seiten sind anders. Bei uns klickst du dich durch 5 Screens während du ein Ziel verfolgst – da auf jeder Seite irgendein völlig zusammenhangloses riesiges Foto zu sehen an dem du erst vorbeiscrollen musst, um mit deinem Task weiterzumachen, ergibt keinen Sinn.
- Das Menü einzubau

[2016-08-23 15:41] tosh commented on #78
imho +1 official website CI but not UI übernehmen
unless campaign explicitly states that the UI has to be like the website
(which would not make much sense)

[2016-08-23 15:46] anonjum commented on #78
Not sure if only I heard it: "Das muss in unserer Seite integriert sein". @tosh  @benfreu ?

mitmachen.vanderbellen.at ist schon einschritt weg davon. Ich schätze die Chancen ein Go zu bekommen am besten ein, wenn es ident aussieht und der user nicht merkt, dass er wo anders ist.

haben 7 - 15.000 mail adressen von denen ein guter teil was machen will. wir werden überwiegend über mail arbeiten müs

[2016-08-23 16:39] benfreu commented on #78
Da bin ich vollkommen @c3o's Meinung. Leute kommen **nie** von der Hauptseite auf unsere Unterseite. Unsere Seite wird über Mails aufgerufen. CI 1:1 replizieren: Ja! Aber kein Menü in dem niemand mehr zu uns kommen kann. Das verstehen Leute dann einfach nicht. Dann gibts 10k Support-Emails.

Schmales Bild fände ich sogar schön und die gibts eh auch in fast schmal und nicht so riesig wie auf der St

[2016-08-23 19:11] anonjum commented on #78
Ich sehe, dass das Sinn macht. Was ist wenn wir doch die Mitmachseite übernehmen und unsere Startseite via Iframe einspielen und sobald der user eine interaktion macht landet er auf mm.vdb.at, durch klicken im Menue verlässt er uns wieder? Er merkt das aber gar nicht weil sich vom interface nix ändert?

Wir ersetzen das Mitmach Form, drehen den Info Fluss um (schicken Info an super-fi crm)

So ca:

[2016-08-23 20:33] stefan2904 commented on #80
Done.
_Ask in slack (or me) for an account._

**Howto setup:**
  http://nginx.org/en/docs/http/ngx_http_auth_basic_module.html

**Howto add user:**
Create password with `mkpasswd`.
Add user/password to `/etc/nginx/htpasswd`.

[2016-08-23 20:34] #80 closed, assigned to stefan2904

[2016-08-23 20:39] anonjum opened #91 "Create: mm.vdb.at/start"
Diese drei Dinge kannst Du tun, die wirklich helfen:
- Unterstütz Alexander Van der Bellen auf der Straße -> mm.vdb.at/meetups
- Online aktiv werden -> mm.vbd.at/online
- Fundraisingkampagne starten -> mm.vdb.at/fundrais

[2016-08-23 20:39] anonjum opened #92 "Static page "spenden/fundraising""
according to https://docs.google.com/document/d/19UIgaOo7MOyxIEx7Uh0nmeGAo5A5vs-E2OqT-ky7hgc/edit?usp=sharing

[2016-08-23 20:40] anonjum opened #93 "Static page "online mitmachen""
according to https://docs.google.com/document/d/1ic7TTYbzn_74Lt88-X3Lm7n2ZuBuG1iS467HTLnr9is/edit?usp=sharing

[2016-08-23 20:47] anonjum opened #94 "adapt legal text / check boxes"
add same text as above for this one:
![bildschirmfoto 2016-08-22 um 19 39 30](https://cloud.githubusercontent.com/assets/21046499/17909092/45878164-6983-11e6-85ef-a496cad9090d.png)

change text and check boxes to what it looks like in screenshot
![bildschirmfoto 2016-08-23 um 17 41 26](https://cloud.githubusercontent.com/assets/21046499/17909169/8865c0c2-6983-11e6-9398-b30e457308f6.png)

![bildsch

[2016-08-23 20:48] stefan2904 commented on #38
@c3o  so since tomorrow's pitch is with the "we == campaign" assumption, this one is on hold?

[2016-08-23 20:55] stefan2904 commented on #92
Also
- Header von vdb.at [Frontent, statisch]
- die Funktionalität von https://www.vanderbellen.at/spenden/ [schaut nach Frontent + JavaScript aus]
- \+ Progress (Kompliziert: wo bekommen wir den Stand her? soll eine Spende da direkt was triggern) [Frontent und Backend]
- viele Infotexte [Frontent, statisch]
- viele Sharebuttons [Frontent, JS]
- Footer von vdb.at [Frontent, statisch]

[2016-08-23 20:56] stefan2904 commented on #91
direkt auf die Startseite von weilsumwasgeht.at ?

Requires some work from Team-Frontend, das wirft ja das ganze Layout über den Haufen, oder?

[2016-08-23 21:00] stefan2904 commented on #93
Looks like static content, some JS and all the like (&share?) buttons again.

[2016-08-23 21:05] stefan2904 commented on #87
Move to local config? (If wew change this, it also needs to be change on the bot end. /cc @tosh)

(Same key for the planned protection of other api endpoints, I guess.)

[2016-08-23 21:07] stefan2904 commented on #86
We could use [hack4vdb/cron.py](https://github.com/hack4vdb/anthill-backend/blob/master/anthill/crons.py) for this.

How do we make sure a user who is registered more than once (multiple PLZ, mistake, ...) is not spammed?

Also, facebook users get messages from the bot?

[2016-08-23 21:09] anonjum commented on #93
Think so too. But am magician. Can u put first make it look like it works? So I have something to show tomorrow?

[2016-08-23 21:10] anonjum commented on #91
Wird einfach zwischen geschalten.

[2016-08-23 21:11] anonjum commented on #91
Also Signup, dann Start (was willst du tun), dann online, offline (anthill) oder fundraising

[2016-08-23 21:11] stefan2904 commented on #72
á la "Wir können diese PLZ leider nicht finden. Bitte überprüfe sie nochmal, oder gib eine aus deiner Umgebung ein."

[2016-08-23 21:11] tosh commented on #87
Jup we'd need to change this at the same time

[2016-08-23 21:14] anonjum commented on #92
Spendenstand und in der Seite spenden ist Feature request.

stand müssten wir von vdb.at/Offenlegung parsen, dort wird veröffentlicht.

Könnte man alle paar Tage Manuell eingeben.

Rest ja.

[2016-08-23 21:15] anonjum commented on #72
Yes!

[2016-08-23 21:16] stefan2904 commented on #91
Das heißt, flow zu anthill eine ebene weiter hinten?

1.) man geht auf vanderbellen.at
2.) man klickt auf mitmachen, landet auf mitmachen.vdb.at

dann entweder
3.) man klickt auf "offline", landet auf dem, was jetzt die anthill frontpage is
4.) man gibt plz und mail ein, gogo gadgeto anthill
oder
3.) man klickt auf "online", landet auf /online
oder
3.) man klickt auf "fundraising", landet auf /fun

[2016-08-23 21:17] anonjum commented on #91
Fast. Man gibt immer Email und Plz ein. Danach bekommt man drei Optionen.

[2016-08-23 21:17] anonjum commented on #91
Tausche drei und vier aus.

[2016-08-23 21:17] anonjum commented on #91
Sry, me noob

[2016-08-23 21:19] stefan2904 commented on #91
das required einiges an design arbeit auf der seite, die hinter unserem formular kommt, weil das dann nicht mehr direkt /meetups ist.

[2016-08-23 21:21] anonjum commented on #91
Can u creat Static /Start Page that links to /meetup /online and /fundrais?

[2016-08-23 21:26] PeterTheOne commented on #93
@anonjum So wie ich dich verstehe soll das https://www.vanderbellen.at/mitmachen/aktiv-werden/online-aktiv-werden/ ersetzen. Kann das nicht erstmal im Typo3 bleiben?

[2016-08-23 21:27] PeterTheOne commented on #92
@anonjum Auch hier: Soll https://www.vanderbellen.at/spenden/ ersetzen oder? Soll das nicht lieber erstmal in Typo3 bleiben?

[2016-08-23 21:28] anonjum commented on #93
Nein dringend selber machen und auf mm.vdb.at/online hosten. Alles was im typo ist können wir nicht kontrollieren. Würde es als Download Ressource halten. Unsere ist Kampagne (Share usw)

[2016-08-23 21:28] anonjum commented on #92
Nein, keinesfalls. Soll den mm Aspekt von fundraising abbilden und Leute animieren zu spenden / spenden zu sammeln.

[2016-08-23 21:33] stefan2904 opened #95 "Steps before production"
- [ ] Turn off DEBUG mode in config: https://docs.djangoproject.com/en/1.10/ref/settings/#debug
- [ ] change SECRET_KEY in local config: https://docs.djangoproject.com/en/1.10/ref/settings/#std:setting-SECRET_KEY
- [x] Rotate secret for Bot API (check API_KEY in local config) #87
- [x] Rotate (different!) secret for Newsletter API #79
- [ ] configure mail gateway (to use the VDB one?)
- [ ] change

[2016-08-23 21:37] stefan2904 commented on #95
(anything else, @MSch @lutoma?)

[2016-08-23 21:40] MSch commented on #87
Just to make sure: Same secret for all API endpoints used by the bot, but a different secret for the API endpoints exposed to the campaign website

[2016-08-23 21:41] lutoma commented on #95
I'll review the code in the next days before it actually goes live and see if I can find anything.

[2016-08-23 21:42] MSch commented on #95
I added the secret rotation for thew Newsletter API #79.

Other than that nothing I can think of.

[2016-08-23 21:46] stefan2904 commented on #87
define "exposed to the campaign website". to a frontend or to the CRM?

[2016-08-23 21:49] stefan2904 commented on #87
ok, in settings_local, there is now

[code]

to use:

[code]

(ask me for the specific keys or look in the file on the server.)

[2016-08-23 22:05] stefan2904 commented on #87
@tosh changed on my site, please update bot (see slack for new `BOT_API_KEY`)

[2016-08-23 22:31] tosh commented on #87
new bot key live in bot

[2016-08-23 22:44] #87 closed, assigned to stefan2904

[2016-08-23 22:46] stefan2904 commented on #86
related to (duplicate of?) #21

[2016-08-23 23:19] stefan2904 commented on #80
fyi: re-obened /api, otherweise the bot is broken ;-)

[2016-08-23 23:21] stefan2904 commented on #80
[code]

[2016-08-23 23:30] stefan2904 commented on #44
Now all `/api` endpoints except [`/api/meetupsbylatlng`](https://github.com/hack4vdb/anthill-backend/blob/master/anthill/api_views.py#L151) are disabled.
TODO: protect this one with a signature (as done with the other bot-stuff)?

[2016-08-23 23:36] stefan2904 opened #96 "Monitoring / rate limiting"
protect the registration / login process.

[2016-08-23 23:43] stefan2904 commented on #40
@c3o bitte spezifizieren, was das genau tun soll.

unsubscribe von
- anthill komplett (account & teilnahme an allen events löschen) -> **Account löschen**
- allen mails (jedoch account nocht löschen) **von Mails abmelden**
- automatischen mails (jedoch schon noch welche zu subscribten events) **von automatischen Mails abmelden**
- ...

und: same for bot notifications?

[2016-08-23 23:58] stefan2904 commented on #40
So, es gibt nun `/unsubscribe/<uuid>`

Still TODO:
- [ ] Link in alle (?) Mails einbauen (bzw. in's Template für die Mail Signatur, die immer mitgeschickt wird?) [teilweise done, zumindest base.html]
- [ ] unsubscribe Status ans vdb.at CRM melden (how?) #81
- [ ] darüber nachdenken, wo man `Activist.subscribed` abfragen und nix verschicken muss (siehe [oben](https://github.com/hack4vdb/anthill-bac

[2016-08-24 01:16] stefan2904 opened #97 "Remove hardcoded URLs from (mail/bot) templates"
At the moment, there are many hardcoded "weilsumwasgeht.at URLs in the mailtemplates (in templates/emails).

Consider replacing all hardcoded URLs by calls to Django's [`url` tag](https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#url) (or a own tag). In addition, set global SITE_URL in settings.py and use to build urls in templates.
Also, remove hardcoded value from utils.make_absolut

[2016-08-24 01:17] stefan2904 commented on #97
(This is necessary since we probably move the app from weilsumwasgeht.at to mitmachen.vdb.at. Furthermore, it should be able to redeploy it to other hosts without changing all the templates.)

[2016-08-24 21:50] stefan2904 commented on #18
@lutoma nur für's Protokoll: Hab' gestern getestet, da wurden sie über Postmark verschickt, ja.

[2016-08-24 22:01] lutoma commented on #18
@stefan2904 Ja, wurde in der Zwischenzeit korrigiert afaik :)

[2016-08-25 11:45] benfreu commented on #97
Please be careful with utils.make_absolute_url()

It's called from email templates that get generated outside a `request` context so it can't use Django's own url generation function. make_absolute_url needs a hard coded value, but it should indeed be moved to the settings, true.

[2016-08-25 17:13] stefan2904 opened #98 "Static Maps = Request to Google"
The static Maps next to the Meetups are loaded from Google. Therefore Google knows you are on the site. Is this an issue?

If so:
Either: remove
Or: Replace with less problematic API
Or: Implement loading via server, cache

Followup: check other external resources.

[2016-08-25 19:18] lutoma opened #99 "Fix front page photo wall picture sizes"
Currently, all the pictures in the photo wall on the front page are included in their [full size](https://mm-vdb-static.scdn4.secure.raxcdn.com/img/people/1.jpg) even though they're only shown at ~110x110.

[2016-08-25 19:19] lutoma opened #100 "Fix horizontal scrollbar"
Since the change to the newest iteration of the VdB design, there's an unnecessary horizontal scrollbar on some screen sizes due to whitespace on the right of the page.

[2016-08-25 19:29] lutoma opened #102 "Links in footer not clickable"
At least in my version of Chrome, the links in the new footer and some of the ones in the header are not clickable because they're covered by the `#first-viewport` div. Maybe needs some `z-index`-ing.

[2016-08-25 20:01] #99 closed, assigned to nobody

[2016-08-25 21:08] jampo opened #109 "Thank you page broken"
White page displayed

[2016-08-25 21:09] lutoma commented on #109
Same for the page you get after requesting a login link

[2016-08-25 21:10] jampo opened #110 "Invite page: Correct "wird Flyer und Material mitbringen" text"
the first person who should get the flyer gets displayed that the second person would bring flyer

[2016-08-25 21:10] stefan2904 commented on #102
And the navigation is not working on mobile (responsive, eingeklappt, lässt sich nicht ausklappen). Tested with Android.

[2016-08-25 21:13] stefan2904 commented on #110
Apparently the same template is used for first activist and other activists.

[2016-08-25 21:18] jampo opened #111 "Howto get map location for meetup"
Street or place could be enough but link to map google or osm would be cool

[2016-08-25 21:21] jampo opened #112 "Show how many people already interested"
It would good to show if already people interested for an action

[2016-08-25 21:23] jampo commented on #111
the location name should have the link to the map service

[2016-08-25 21:40] stefan2904 commented on #97
@benfreu jep, deswegen wollen wir die Funktion auch verwenden und nicht ändern. (Bis aufs verschieben von der Konstante).

[2016-08-25 21:40] stefan2904 commented on #97
🚩 🔝🔜
This issue is now even more important, since we deployed on the new domain today which broke all URLs in mails ...

[2016-08-25 21:46] c3o commented on #110
I don't understand this issue, can you elaborate? Gern auch auf Deutsch.
Are you saying all event joiners are shown the address_form instead of the first the address_form and others the name_form?

[2016-08-25 21:48] c3o commented on #112
wontfix per design decision

[2016-08-25 21:48] #112 closed, assigned to nobody

[2016-08-25 21:50] c3o commented on #96
please no captcha on the registration! :-O
it was supposed to be email, zipcode, go – all these scary checkboxes and notices and the planned forced email opt-in are bad enough

[2016-08-25 21:52] stefan2904 commented on #96
Agree. Dann brauchen wir aber Monitoring / Rate Limiting.

[2016-08-25 21:54] jampo commented on #110
Die erste Person die bei einer Aktion zugesagt hat bekommt wenn eine zweite Person dabei ist angezeigt, dass die zweite Person die Flyer mitnehmen würde.

Also dieser Text: "XY hat auch schon zugesagt und wird Flyer und Material mitbringen.
Lade unbedingt noch Leute ein, damit diese Aktion Spaß macht und ein Erfolg wird!" obwohl ich eigentlich der sein sollte der die Flyer bringt

[2016-08-25 21:56] c3o commented on #91
Ich plane aktuell, die gewünschten statischen Seiten als zusätzliche Tabs (in der Bildleiste) einzurichten – default ist Anthill wie gehabt, keine Zwischenscreens.

[2016-08-25 22:02] stefan2904 commented on #110
Es geht um das Invite Template.
Dort wird nicht unterscheiden, ob man der Meetup Ersteller ist (für den Fall ists die falschen Meldung), oder danach gejoint ist (für den Fall passts).

[2016-08-25 22:15] stefan2904 commented on #110
Der Teil im Invite Template muss offenbar generell noch über arbeitet werden, die Fallunterscheidung seems flawed (Einzahl / Mehrzahl auf Basis von viable?)

[2016-08-25 22:15] #111 closed, assigned to PeterTheOne

[2016-08-25 22:52] PeterTheOne commented on #98
Also move google API key to settings.

[2016-08-25 23:27] stefan2904 opened #113 "LICENSE"
If this repo stays open, we need a license.

I suggest something simple, I like copyleft, I want attribution, I am not sure about commercial use.

I strongly suggest a sentence about allowing ussage only for progressive movements. (Yes, I am aware this is not "free" anymore.)

[2016-08-25 23:30] stefan2904 commented on #113
http://choosealicense.com/licenses/ or BSD

[2016-08-25 23:47] #100 closed, assigned to nobody

[2016-08-26 02:23] lutoma commented on #113
https://en.wikipedia.org/wiki/European_Union_Public_Licence !

Agree about adding that sentence.

[2016-08-26 03:53] #38 closed, assigned to nobody

[2016-08-26 19:55] c3o commented on #7
Merged into #78

[2016-08-26 19:55] #7 closed, assigned to c3o

[2016-08-26 20:00] c3o commented on #102
Merged into #78

[2016-08-26 20:00] #102 closed, assigned to nobody

[2016-08-26 20:25] PeterTheOne commented on #8
fixed in #105

[2016-08-26 20:25] #8 closed, assigned to nobody

[2016-08-26 20:26] #15 closed, assigned to nobody

[2016-08-26 20:33] #98 closed, assigned to PeterTheOne

[2016-08-26 20:54] #109 closed, assigned to nobody

[2016-08-26 21:24] PeterTheOne commented on #78
favicon added in https://github.com/hack4vdb/anthill-backend/commit/3c38816f301c0d057ee9d1d01b206b5d0c0846be

[2016-08-26 21:53] c3o commented on #81
Merged into #79

[2016-08-26 21:53] #81 closed, assigned to nobody

[2016-08-26 21:55] c3o commented on #79
Updated issue to changed requirements.
The discussion above is probably irrelevant/misleading.

[2016-08-27 00:09] lutoma commented on #98
@PeterTheOne Your change seems to have broken the map in the lower area of the /join_meetup/ page, which just seems to request `https://mitmachen.vanderbellen.at/api/staticmaps///` (probably some missing variables in the template)?

[2016-08-27 00:13] lutoma opened #119 "Image on thank you page is weirdly cropped"
![1472256762](https://cloud.githubusercontent.com/assets/179393/18023636/cbdf4d9e-6bfb-11e6-82fa-cc6803d1bee0.png)

[2016-08-27 00:39] PeterTheOne commented on #98
@lutoma sollte jetzt wieder gehn.

[2016-08-27 00:40] #119 closed, assigned to nobody

[2016-08-27 00:51] lutoma commented on #98
@PeterTheOne Now I get `https://mitmachen.vanderbellen.at/api/staticmaps/Ottakring//` as URL which also 404s. But maybe it's just the specific event that's broken (https://mitmachen.vanderbellen.at/join_meetup/?datetime=2016-09-03T11:00&location_id=162)

[2016-08-27 00:59] PeterTheOne commented on #98
@lutoma this should have fixed the 404 https://github.com/hack4vdb/anthill-backend/commit/a5e59684e9561f62846ff253e58d1317f72a8737#diff-9d38da77220fab881faf29e497ffdaa3R69 ... hmm

[2016-08-27 01:10] lutoma commented on #98
@PeterTheOne Changing the regex to `api/staticmaps/(?P<city>[\d\w-]+)/(?P<street>[\d\w\W-]*)?/?` seems to work.

[2016-08-27 01:12] lutoma opened #122 "Newsletter signup container in footer has gray background on /join_meetup/"
![1472260298](https://cloud.githubusercontent.com/assets/179393/18024154/07fc8b54-6c04-11e6-90f3-bf6de7c94f02.png)

[2016-08-27 01:23] PeterTheOne commented on #98
@lutoma PR? ^^°

[2016-08-27 07:01] lutoma opened #123 "Link color doesn't work well with the backgrounds"
![foo](https://cloud.githubusercontent.com/assets/179393/18025885/75957d0a-6c37-11e6-813e-29931b1528b1.png)

Not sure if this is because of the VdB design

[2016-08-27 13:27] stefan2904 commented on #95
@lutoma das müsstest jetzt alles du machen, vmtl Sonntag Abend, geht das klar von dir aus?

[2016-08-28 14:30] #122 closed, assigned to nobody

[2016-08-28 15:37] #123 closed, assigned to nobody